$border-color: #dee2e6 !default;
$text-color: #324054;
$white-color: #ffffff;
$red-color: #cb2131;
$blue-color: #0092ff;
$primary-color: #2f6bff;
$secondary-color: rgba(47, 107, 255, 0.2);
$header_tf: #9d9d9d;
$header_tf05: rgba(157, 157, 157, 0.5);
$header_tf02: rgba(157, 157, 157, 0.2);
$header_tf01: rgba(157, 157, 157, 0.1);
$text-color-input: #324054;
$select_color: rgba(255, 0, 0, 0.3);
$header_tf02: rgba(157, 157, 157, 0.2);
$green_color: #329932;
$border-color: #e6e6e6;
$status-reject: #dc2323;
$link-color: #dc2323;
$black-500: #333333;
$color-button-popup: rgba(0, 0, 0, 0.85);
$shadow: rgba(0, 0, 0, 0.25);
$status-external: rgba(255, 0, 0, 0.3);
$status-pending: #f4b41a;
$urgent-label: #c10000;
$pending-label: #667eea;
$tab-inactive: rgba(50, 64, 84, 0.8);
$black-color: #000000;
$primary-color01: rgba(47, 107, 255, 0.1);
$scrollbar-color: #c7c7c7;
$header-landing-page: 64px;
$disconnect-color: #ff0000;
